.footer{
    justify-content: center;
    display: flex;
    align-items: center;
    align-content: center;
    padding-top: 10px;
    height: 80px;
    color:white;
    font-size: bold;
    border-top: 2px solid rgb(150, 150, 150);
    border-bottom: 2px solid rgb(150, 150, 150);
    background-color:rgb(156, 156, 156);
}
