.centerSectionTitle{
    display: flex;
    justify-content: center;
    background-color: rgb(243, 243, 243);
    align-content: center;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
    min-height: 40px;
    color:rgb(0, 0, 0);
    font-size: bold;
    border-top: 2px solid rgb(150, 150, 150);
    border-bottom: 2px solid rgb(150, 150, 150);
    background-color:rgb(236, 236, 236);
    text-align: center;
}