.vehicleCardConteiner{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding-top: 10px;
    min-width: 200px;
    max-width: 200px;
    img{
        min-width: 200px;
        max-width: 200px;
    }
}