.feedbackEmptyItems{
    display: flex;
    justify-content: center;
    background-color: rgb(243, 243, 243);
    align-content: center;
    align-items: center;
    height: 250px;
    color:black;
}